@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");

*,
:after,
:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  text-rendering: optimizeLegibility;
  font-size: 62.5%;
  --color-status-1: #33b4ff;
  --color-status-2: #003cff;
}
html[data-status="success"] {
  --color-status-1: #7dd56f;
  --color-status-2: #28b487;
}
html[data-status="error"] {
  --color-status-1: #ff7730;
  --color-status-2: #eb4d4b;
}
:root {
  --color-light--1: #fff;
  --color-light--2: #f5f6fb;
  --color-light--3: #e9eaf0;
  --color-dark--1: #2d2d31;
  --color-dark--2: #939497;
  --color-status-3: #1771ff;
  --color-err: #b30000;
  --color-err-dark: #810000;
}
body {
  font-size: 1.6rem;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #f5f6fb;
  background-color: var(--color-light--2);
  color: #2d2d31;
  color: var(--color-dark--1);
  position: relative;
}
@media only screen and (max-width: 100em) {
  body {
    font-size: 1.4rem;
  }
}
@media only screen and (max-width: 80em) {
  body {
    font-size: 1.3rem;
  }
}
.body--login {
  height: 100vh;
  -ms-grid-columns: 600px 1fr;
  grid-template-columns: 600px 1fr;
  overflow: hidden;
}
.body--login,
.col--3 {
  display: -ms-grid;
  display: grid;
}
.col--3 {
  height: 100vh !important;
  -ms-grid-columns: 260px 2fr 1fr;
  grid-template-columns: 260px 2fr 1fr;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
@media only screen and (max-width: 100em) {
  .col--3 {
    -ms-grid-columns: 200px 2fr 1fr;
    grid-template-columns: 200px 2fr 1fr;
  }
}
@media only screen and (max-width: 80em) {
  .col--3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 120px;
    grid-template-rows: 2fr 1fr 120px;
  }
}
@media only screen and (max-width: 28.125em) {
  .col--3 {
    -ms-grid-rows: 2fr 1fr 100px;
    grid-template-rows: 2fr 1fr 100px;
  }
}
.col--2 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 260px 1fr;
  grid-template-columns: 260px 1fr;
}
@media only screen and (max-width: 100em) {
  .col--2 {
    -ms-grid-columns: 200px 1fr;
    grid-template-columns: 200px 1fr;
  }
}
@media only screen and (max-width: 80em) {
  .col--2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 2fr 1fr 120px;
    grid-template-rows: 2fr 1fr 120px;
  }
}
@media only screen and (max-width: 28.125em) {
  .col--2 {
    -ms-grid-rows: 2fr 1fr 100px;
    grid-template-rows: 2fr 1fr 100px;
  }
}
.col--login {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 600px 1fr;
  grid-template-columns: 600px 1fr;
  overflow: hidden;
}
@media only screen and (max-width: 80em) {
  .col--login {
    -ms-grid-columns: 400px 1fr;
    grid-template-columns: 400px 1fr;
  }
}
@media only screen and (max-width: 56.25em) {
  .col--login {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    -ms-grid-rows: 400px 1fr;
    grid-template-rows: 400px 1fr;
  }
}
@media only screen and (max-width: 28.125em) {
  .col--login {
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    -ms-grid-rows: 420px 1fr;
    grid-template-rows: 420px 1fr;
  }
}
.main {
  padding: 5rem 8rem;
}
@media only screen and (max-width: 100em) {
  .main {
    padding: 5rem;
  }
}
@media only screen and (max-width: 80em) {
  .main {
    padding: 1rem;
  }
}
.main--login {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 28.125em) {
  .main--login {
    align-items: flex-start;
    padding: 2rem;
  }
}
input,
select {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 28.125em) {
  h1 {
    font-size: 2.7rem;
  }
}
h2 {
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 5rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 28.125em) {
  h2 {
    font-size: 1.8rem;
  }
}
h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 2.5rem;
  letter-spacing: 2px;
}
@media only screen and (max-width: 28.125em) {
  h3 {
    font-size: 1.6rem;
  }
}
p {
  letter-spacing: 1px;
  line-height: 1.5;
}
.page__description {
  margin-bottom: 10rem;
}
@media only screen and (max-width: 100em) {
  .page__description {
    margin-bottom: 8rem;
    width: 80%;
    line-height: 1.7;
  }
}
@media only screen and (max-width: 28.125em) {
  .page__description {
    width: 100%;
  }
}
.form__group {
  position: relative;
}
.form__group:first-of-type {
  margin-bottom: 2.5rem;
}
.form__group:last-of-type {
  margin-bottom: 5rem;
}
.form__label {
  display: block;
  text-align: left;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 1rem;
}
.form__input {
  padding: 1rem 2rem;
  border-radius: 3px;
  border: 1px solid #2d2d31;
  border: 1px solid var(--color-dark--1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: block;
}
.form__icon {
  height: 2.4rem;
  width: 2.4rem;
  stroke: #2d2d31;
  stroke: var(--color-dark--1);
  position: absolute;
  right: 2rem;
  top: 3.7rem;
}
@media only screen and (max-width: 80em) {
  .form__icon {
    top: 3.3rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .form__icon {
    right: 1rem;
  }
}
.status__box {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-content: center;
  position: relative;
}
.status__bg {
  display: block;
  height: 151rem;
  width: 151rem;
  background-image: linear-gradient(135deg, #33b4ff, #003cff);
  background-image: linear-gradient(
    135deg,
    var(--color-status-1),
    var(--color-status-2)
  );
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
@media only screen and (max-width: 80em) {
  .status__bg {
    height: 100vh;
    width: 100%;
    border-radius: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .status__bg {
    height: 100%;
    width: 100%;
    position: absolute;
    top: unset;
    transform: unset;
    border-radius: 0;
  }
}
@media only screen and (max-width: 28.125em) {
  .status__bg {
    height: 100%;
    position: absolute;
    top: unset;
    transform: unset;
    width: 100%;
    border-radius: 0;
  }
}
.status__info {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 70rem;
  width: 70rem;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #f5f6fb;
  background-color: var(--color-light--2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 80em) {
  .status__info {
    height: 50rem;
    width: 50rem;
    background-color: transparent;
  }
}
@media only screen and (max-width: 28.125em) {
  .status__info {
    width: 100%;
    border-radius: 0;
  }
}
.status__icon {
  height: 10rem;
  width: 10rem;
  stroke: #003cff;
  stroke: var(--color-status-2);
  stroke-width: 1;
  margin-bottom: 2rem;
}
@media only screen and (max-width: 80em) {
  .status__icon {
    stroke: #fff;
    stroke: var(--color-light--1);
  }
}
@media only screen and (max-width: 28.125em) {
  .status__icon {
    margin-bottom: 1rem;
    height: 8rem;
    width: 8rem;
  }
}
.status__sentence {
  margin-top: 2rem;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1.8;
  text-align: center;
  width: 40rem;
}
@media only screen and (max-width: 80em) {
  .status__sentence {
    color: #fff;
    color: var(--color-light--1);
  }
}
@media only screen and (max-width: 28.125em) {
  .status__sentence {
    width: 90%;
    font-size: 1.5rem;
  }
}
a {
  text-decoration: none;
}
.btn,
.btn:link,
.btn:visited {
  position: relative;
  background-image: linear-gradient(90deg, #33b4ff, #003cff);
  background-image: linear-gradient(
    90deg,
    var(--color-status-1),
    var(--color-status-2)
  );
  border: none;
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
  font-family: inherit;
  text-transform: uppercase;
  color: #fff;
  color: var(--color-light--1);
  letter-spacing: 2px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  cursor: pointer;
  transition: all 0.25s ease;
  z-index: 1;
}
@media only screen and (max-width: 28.125em) {
  .btn,
  .btn:link,
  .btn:visited {
    font-size: 1.4rem;
  }
}
.btn:before,
.btn:link:before,
.btn:visited:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(270deg, #33b4ff, #003cff);
  background-image: linear-gradient(
    270deg,
    var(--color-status-1),
    var(--color-status-2)
  );
  border-radius: 3px;
  z-index: -1;
  transition: opacity 0.25s ease;
  opacity: 0;
}
.btn:hover,
.btn:link:hover,
.btn:visited:hover {
  transform: translateY(-4px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.btn:hover:before,
.btn:link:hover:before,
.btn:visited:hover:before {
  opacity: 1;
}
.btn:active,
.btn:link:active,
.btn:visited:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.btn--login {
  width: 100%;
  padding: 1.7rem;
}
.btn--login:disabled {
  cursor: not-allowed;
}
.btn--logout {
  width: 100%;
  padding: 1.7rem;
  background-image: none !important;
  background-color: #fff !important;
  background-color: var(--color-light--1) !important;
  color: #2d2d31 !important;
  color: var(--color-dark--1) !important;
}
@media only screen and (max-width: 80em) {
  .btn--logout {
    display: none;
  }
}
.btn--logout:hover {
  background-color: #f5f6fb;
  background-color: var(--color-light--2);
}
.btn--logout:before {
  display: none !important;
}
.btn--search {
  display: flex;
  align-items: center;
}
.btn--search,
.btn--view {
  margin-left: auto;
  padding: 1.3rem 2rem;
}
.btn--view {
  width: 18rem;
}
@media only screen and (max-width: 28.125em) {
  .btn--view {
    width: 13rem;
    padding: 1rem 1.5rem;
  }
}
.btn--view:active,
.btn--view:hover {
  transform: none !important;
}
.btn--back {
  display: flex;
  align-items: center;
  padding: 1.3rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-bottom: 5rem;
}
@media only screen and (max-width: 28.125em) {
  .btn--back {
    padding: 1rem;
    margin-bottom: 3rem;
  }
}
.btn--back__icon {
  margin-right: 1rem;
}
.btn--delete {
  background-image: none !important;
  background-color: #b30000 !important;
  background-color: var(--color-err) !important;
}
.btn--delete:hover {
  background-color: #810000 !important;
  background-color: var(--color-err-dark) !important;
}
.btn--delete:before {
  display: none !important;
}
.btn--print {
  padding: 1.3rem 2rem;
}
.btn--create {
  padding: 1.3rem 4rem;
}
.nav {
  width: 26rem;
  height: 100vh;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2d2d31;
  background-color: var(--color-dark--1);
  position: fixed;
  z-index: 100;
}
@media only screen and (max-width: 100em) {
  .nav {
    width: 20rem;
    padding: 2.5rem;
  }
}
@media only screen and (max-width: 80em) {
  .nav {
    width: 100%;
    height: 12rem;
    bottom: 0;
    padding: 0 8rem;
    flex-direction: row;
  }
}
@media only screen and (max-width: 28.125em) {
  .nav {
    padding: 0 2rem;
    height: 8rem;
  }
}
@media only screen and (max-width: 80em) {
  .nav--placeholder {
    display: none !important;
  }
}
.nav--placeholder-tab {
  display: none;
}
@media only screen and (max-width: 80em) {
  .nav--placeholder-tab {
    display: block !important;
  }
}
.nav ul {
  text-align: center;
}
@media only screen and (max-width: 80em) {
  .nav ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.nav li:not(:last-of-type) {
  margin-bottom: 10rem;
}
@media only screen and (max-width: 100em) {
  .nav li:not(:last-of-type) {
    margin-bottom: 8rem;
  }
}
@media only screen and (max-width: 80em) {
  .nav li:not(:last-of-type) {
    margin-bottom: 0;
  }
}
.nav__icon {
  display: none;
}
@media only screen and (max-width: 80em) {
  .nav__icon {
    display: block;
    height: 48px;
    width: 48px;
    margin-bottom: 1rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .nav__icon {
    height: 30px;
    width: 30px;
    margin-bottom: 7px;
  }
}
.nav__link {
  font-size: 2.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #939497;
  color: var(--color-dark--2);
  text-transform: uppercase;
  transition: all 0.25s ease;
}
@media only screen and (max-width: 100em) {
  .nav__link {
    font-size: 2rem;
  }
}
@media only screen and (max-width: 80em) {
  .nav__link {
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 28.125em) {
  .nav__link {
    font-size: 1rem;
  }
}
.nav__link:hover {
  color: #f5f6fb;
  color: var(--color-light--2);
}
.nav__link--active {
  color: #1771ff;
  color: var(--color-status-3);
}
.nav__link--login {
  display: none;
}
@media only screen and (max-width: 80em) {
  .nav__link--login {
    display: flex;
  }
}
.nav__link--logout {
  display: none;
}
@media only screen and (max-width: 80em) {
  .nav__link--logout {
    display: flex;
  }
}
.quick__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr [3];
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  gap: 50px;
}
@media only screen and (max-width: 80em) {
  .quick__grid {
    grid-gap: 80px;
    gap: 80px;
  }
}
@media only screen and (max-width: 28.125em) {
  .quick__grid {
    grid-gap: 30px;
    gap: 30px;
    -ms-grid-columns: unset;
    grid-template-columns: unset;
    -ms-grid-rows: 80px [3];
    grid-template-rows: repeat(3, 80px);
    width: 70%;
  }
  .quick__grid:last-of-type {
    margin-bottom: 20rem;
  }
}
.quick__grid:not(:last-child) {
  margin-bottom: 5rem;
}
.quick__box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2.5rem;
  background-color: #fff;
  background-color: var(--color-light--1);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  transition: all 0.25s ease;
}
@media only screen and (max-width: 100em) {
  .quick__box {
    padding: 2rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .quick__box {
    padding: 1rem;
  }
}
.quick__box:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(135deg, #33b4ff, #003cff);
  background-image: linear-gradient(
    135deg,
    var(--color-status-1),
    var(--color-status-2)
  );
  border-radius: 10px;
  z-index: -1;
  transition: opacity 0.25s ease;
  opacity: 0;
}
.quick__box:focus:before,
.quick__box:hover:before {
  opacity: 1;
}
.quick__box:focus,
.quick__box:hover {
  transform: translateY(-4px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.quick__box:active {
  transform: translateY(2px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.22);
}
.quick__box:focus .quick__icon,
.quick__box:hover .quick__icon {
  stroke: #fff;
  stroke: var(--color-light--1);
}
.quick__box:focus .quick__date,
.quick__box:hover .quick__date {
  color: #fff;
  color: var(--color-light--1);
}
.quick__icon {
  height: 7.5rem;
  width: 7.5rem;
  stroke: #1771ff;
  stroke: var(--color-status-3);
  stroke-width: 1;
}
@media only screen and (max-width: 100em) {
  .quick__icon {
    height: 6rem;
    width: 6rem;
  }
}
.quick__date {
  font-weight: 600;
  color: #2d2d31;
  color: var(--color-dark--1);
  text-transform: uppercase;
  font-size: 2rem;
}
@media only screen and (max-width: 100em) {
  .quick__date {
    font-size: 1.8rem;
  }
}
.date {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 100em) {
  .date {
    height: 100%;
    position: fixed;
    top: 3rem;
    right: 3rem;
    display: block;
  }
}
@media only screen and (max-width: 28.125em) {
  .date {
    display: none;
  }
}
.date div {
  text-align: center;
}
.date__icon {
  stroke-width: 1;
  stroke: #1771ff;
  stroke: var(--color-status-3);
  height: 11rem;
  width: 11rem;
}
@media only screen and (max-width: 100em) {
  .date__icon {
    display: none;
  }
}
.date__date {
  display: block;
  font-size: 8rem;
  font-weight: 600;
  text-transform: uppercase;
}
@media only screen and (max-width: 100em) {
  .date__date {
    font-size: 2rem;
    display: inline-block;
  }
}
.date__month {
  margin-right: 2rem;
}
@media only screen and (max-width: 100em) {
  .date__month {
    margin-right: 5px;
  }
}
.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8rem;
}
.search__label {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 2px;
  margin-right: 2rem;
  text-transform: uppercase;
}
.search__input {
  padding: 1rem 2rem;
  margin-right: 5rem;
}
.search__icon {
  margin-left: 2rem;
}
.results__box {
  background-color: #fff;
  background-color: var(--color-light--1);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 8px 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.results__box:not(:last-of-type) {
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 28.125em) {
  .results__box {
    padding: 1rem;
  }
}
.results__date {
  font-weight: 600;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.results__info {
  margin-left: 5rem;
}
@media only screen and (max-width: 28.125em) {
  .results__info {
    margin-left: 2rem;
  }
}
.schedule {
  font-size: 2rem;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.schedule--view {
  margin-bottom: 10rem;
}
@media only screen and (max-width: 100em) {
  .schedule--view {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 80em) {
  .schedule--view {
    font-size: 1.6rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .schedule--view {
    font-size: 1.2rem;
  }
}
.schedule__general {
  background-color: #1771ff;
  background-color: var(--color-status-3);
  color: #fff;
  color: var(--color-light--1);
  word-spacing: 3px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 80em) {
  .schedule__general {
    display: -ms-grid;
    display: grid;
    grid-template-areas: "month day year study" "chairman chairman chairman2 chairman2";
    padding: 1rem;
    grid-gap: 20px 0;
    gap: 20px 0;
  }
}
@media only screen and (max-width: 80em) {
  .schedule__general--view {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .schedule__general--view {
    padding: 1rem;
  }
}
.schedule__time {
  font-weight: 400;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
}
.schedule__time .create__input {
  width: 100%;
  padding: 8px 4px;
}
.schedule__title {
  border-left: 1px solid #939497;
  border-left: 1px solid var(--color-dark--2);
}
.schedule__random,
.schedule__title {
  border-right: 1px solid #939497;
  border-right: 1px solid var(--color-dark--2);
}
.schedule__random {
  justify-self: flex-end;
  color: #939497;
  color: var(--color-dark--2);
  font-weight: 600;
}
@media only screen and (max-width: 28.125em) {
  .schedule__random {
    display: none !important;
  }
}
@media only screen and (max-width: 80em) {
  .input__box--month {
    grid-area: month;
  }
}
@media only screen and (max-width: 80em) {
  .input__box--day {
    grid-area: day;
  }
}
@media only screen and (max-width: 80em) {
  .input__box--year {
    grid-area: year;
  }
}
@media only screen and (max-width: 80em) {
  .input__box--study {
    grid-area: study;
  }
}
@media only screen and (max-width: 56.25em) {
  .input__box--study {
    grid-area: chairman;
  }
}
@media only screen and (max-width: 80em) {
  .input__box--chairman {
    grid-area: chairman;
  }
}
@media only screen and (max-width: 56.25em) {
  .input__box--chairman {
    grid-area: chairman2;
  }
}
.section {
  padding: 1rem 2rem;
  color: #fff;
  color: var(--color-light--1);
  letter-spacing: 1px;
  text-transform: uppercase;
}
.treasures {
  background-color: #7f8498;
}
.school {
  background-color: #c4944c;
}
.living {
  background-color: #8d2a2a;
}
.row,
.row__header {
  border: 1px solid #939497;
  border: 1px solid var(--color-dark--2);
  margin-top: -1px;
}
.row__header h4 {
  display: flex;
  justify-self: center;
  align-self: center;
  text-transform: uppercase;
}
.row--second-school {
  background-color: #e9eaf0;
  background-color: var(--color-light--3);
}
.row--operation {
  margin-top: 8rem;
  display: flex;
  align-items: center;
}
.row--flex {
  display: flex;
  justify-content: space-between;
}
.row--flex a {
  padding: 1.3rem 2rem;
  background-color: #fff;
  background-color: var(--color-light--1);
  cursor: pointer;
  color: #fff;
  color: var(--color-light--1);
  font-weight: 600;
  transition: all 0.25s;
}
.create {
  background-color: #f5f6fb;
  background-color: var(--color-light--2);
}
@media only screen and (max-width: 28.125em) {
  .create {
    font-size: 1.2rem;
  }
}
.create__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px;
  grid-template-columns: 400px 400px;
  -moz-column-gap: 10rem;
  grid-column-gap: 10rem;
  -webkit-column-gap: 10rem;
  column-gap: 10rem;
}
@media only screen and (max-width: 80em) {
  .create__grid {
    -ms-grid-columns: 300px 300px;
    grid-template-columns: 300px 300px;
    -moz-column-gap: 8rem;
    grid-column-gap: 8rem;
    -webkit-column-gap: 8rem;
    column-gap: 8rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .create__grid {
    -ms-grid-columns: 150px 150px;
    grid-template-columns: 150px 150px;
    -moz-column-gap: 4rem;
    grid-column-gap: 4rem;
    -webkit-column-gap: 4rem;
    column-gap: 4rem;
  }
}
.create__link {
  height: 400px;
  background-color: #fff;
  background-color: var(--color-light--1);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.25s ease;
}
@media only screen and (max-width: 80em) {
  .create__link {
    height: 300px;
  }
}
@media only screen and (max-width: 28.125em) {
  .create__link {
    height: 150px;
  }
}
.create__link:link,
.create__link:visited {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2.5rem;
  color: #2d2d31;
  color: var(--color-dark--1);
}
@media only screen and (max-width: 28.125em) {
  .create__link:link,
  .create__link:visited {
    font-size: 1.6rem;
  }
}
.create__link:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(135deg, #33b4ff, #003cff);
  background-image: linear-gradient(
    135deg,
    var(--color-status-1),
    var(--color-status-2)
  );
  border-radius: 10px;
  z-index: -1;
  transition: opacity 0.25s ease;
  opacity: 0;
}
.create__link:hover {
  background-color: transparent;
}
.create__link:hover:link,
.create__link:hover:visited {
  color: #fff;
  color: var(--color-light--1);
}
.create__link:hover:before {
  opacity: 1;
}
.create__link:hover .create__icon {
  stroke: #fff;
  stroke: var(--color-light--1);
}
.create__icon {
  height: 10rem;
  width: 10rem;
  stroke-width: 1;
  stroke: #1771ff;
  stroke: var(--color-status-3);
  margin-bottom: 5rem;
}
@media only screen and (max-width: 28.125em) {
  .create__icon {
    height: 7rem;
    width: 7rem;
    margin-bottom: 2.5rem;
  }
}
.create .grid {
  -ms-grid-rows: 50px !important;
  grid-template-rows: 50px !important;
}
.create__general div {
  display: flex;
  align-items: center;
}
.create__song {
  padding: 8px 1.5rem;
  color: #2d2d31;
  color: var(--color-dark--1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  border: 1px solid #939497;
  border: 1px solid var(--color-dark--2);
}
.create__input {
  width: 100%;
}
.create__input,
.create__input--event {
  padding: 8px 1.5rem;
  background-color: #fff;
  background-color: var(--color-light--1);
  color: #2d2d31;
  color: var(--color-dark--1);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  border: 1px solid #939497;
  border: 1px solid var(--color-dark--2);
}
.create__input--event {
  width: 50%;
  margin-bottom: 2rem;
}
.create__input--public-talk {
  width: 84%;
}
@media only screen and (max-width: 80em) {
  .create__input--public-talk {
    width: 78%;
  }
}
@media only screen and (max-width: 56.25em) {
  .create__input--public-talk {
    width: 68%;
  }
}
.create__label {
  font-weight: 600;
  margin-right: 1.5rem;
}
@media only screen and (max-width: 100em) {
  .create__label {
    margin-right: 1rem;
  }
}
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 80px 5fr 2fr 3fr;
  grid-template-columns: 80px 5fr 2fr 3fr;
  -ms-grid-rows: 44px;
  grid-template-rows: 44px;
}
@media only screen and (max-width: 80em) {
  .grid {
    -ms-grid-columns: 80px 5fr 3fr 3fr;
    grid-template-columns: 80px 5fr 3fr 3fr;
    -ms-grid-rows: 50px;
    grid-template-rows: 50px;
  }
}
@media only screen and (max-width: 28.125em) {
  .grid {
    -ms-grid-columns: 40px 5fr 3fr;
    grid-template-columns: 40px 5fr 3fr;
  }
}
.grid div {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}
@media only screen and (max-width: 80em) {
  .grid div {
    padding: 1rem;
  }
}
@media only screen and (max-width: 28.125em) {
  .grid div {
    padding: 3px;
  }
}
.grid .schedule__time {
  -ms-grid-column-align: center;
  justify-self: center;
}
@media only screen and (max-width: 56.25em) {
  .notice__header {
    font-size: 2.2rem;
  }
}
.notice__header,
.notice__month {
  text-align: center;
}
.notice__content {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}
@media only screen and (max-width: 28.125em) {
  .notice__content {
    font-size: 1.6rem;
  }
}
.notice__table {
  width: 100%;
  border-collapse: collapse;
}
.notice__table td {
  border: 2px solid #222;
  padding: 5px;
}
.notice__table th {
  font-size: 1.8rem;
  border: 2px solid #222;
  padding: 10px 5px;
  font-weight: 600;
}
@media only screen and (max-width: 28.125em) {
  .notice__table th {
    font-size: 1.5rem;
  }
}
.event {
  margin: 10rem 0;
  display: block;
  text-align: center;
  font-size: 2.3rem;
  font-weight: 600;
}
.popup__bg {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.popup__bg,
.popup__box {
  align-items: center;
  justify-content: center;
}
.popup__box {
  height: 50rem;
  width: 100rem;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background-color: #fff;
  background-color: var(--color-light--1);
  padding: 5rem;
  display: -ms-grid;
  display: grid;
}
.popup__box h3 {
  font-size: 2rem;
}
@media only screen and (max-width: 80em) {
  .popup__box {
    height: 40rem;
    width: 90%;
    margin: 0 auto;
    padding: 3rem;
  }
}
.popup__btn {
  padding: 1.3rem 2rem;
}
.popup__btn-box {
  display: flex;
  justify-content: space-between;
}
.seperator {
  margin: 0 1rem;
}
.margin-left-sml {
  margin-left: 3rem;
}
.margin-bottom-med {
  margin-bottom: 5rem;
}
.margin-bottom-lrg {
  margin-bottom: 10rem;
}
.centre-text {
  text-align: center;
}
.none {
  display: none !important;
}
.tab-land--display {
  display: none;
}
@media only screen and (max-width: 80em) {
  .tab-land--display {
    display: -ms-grid;
    display: grid;
  }
}
@media only screen and (max-width: 80em) {
  .tab-land--none {
    display: none;
  }
}
.message {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.5rem;
  width: 75rem;
  padding: 2rem;
  text-align: center;
  color: #fff;
  color: var(--color-light--1);
  border-radius: 3px;
  z-index: 300;
  display: none;
}
.success {
  background-image: linear-gradient(90deg, #7dd56f, #28b487);
}
.error,
.error__header {
  background-image: linear-gradient(90deg, #ff7730, #eb4d4b);
}
.error__header {
  -webkit-background-clip: text;
  font-size: 4rem;
  color: transparent;
}
.error__msg {
  font-weight: 600;
  font-size: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 5rem;
}
@media print {
  h1 {
    display: none;
  }
  .col--2,
  body {
    background-color: #fff;
    background-color: var(--color-light--1);
  }
  .col--2 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main {
    padding: 2rem 4rem;
  }
  .btn--back,
  .nav,
  .nav--placeholder {
    display: none !important;
  }
  .schedule,
  .schedule__general,
  .schedule__title {
    font-size: 12px !important;
    border-radius: 0;
  }
  #print {
    display: none;
  }
  .schedule__general,
  .section {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 1.5rem;
  }
  .grid {
    -ms-grid-columns: 1fr 5fr 2.75fr 3fr;
    grid-template-columns: 1fr 5fr 2.75fr 3fr;
    -ms-grid-rows: 28px;
    grid-template-rows: 28px;
  }
  .grid div {
    padding: 0 1rem;
  }
}
/*# sourceMappingURL=main.8659d813.chunk.css.map */
